<div style="margin-bottom: 10px">
<button gt-button [gtType]="'primary'" [gtSize]="'small'">primary</button>
<button gt-button [gtType]="'success'" [gtSize]="'small'">success</button>
<button gt-button [gtType]="'warning'" [gtSize]="'small'">warning</button>
<button gt-button [gtType]="'danger'" [gtSize]="'small'">danger</button>
</div>

<div style="margin-bottom: 10px">
<button gt-button [gtType]="'primary'" [gtSize]="'middle'">primary</button>
<button gt-button [gtType]="'success'" [gtSize]="'middle'">success</button>
<button gt-button [gtType]="'warning'" [gtSize]="'middle'">warning</button>
<button gt-button [gtType]="'danger'" [gtSize]="'middle'">danger</button>
</div>

<div style="margin-bottom: 10px">
<button gt-button [gtType]="'primary'" [gtSize]="'middle'" [gtGhost]="true">primary</button>
<button gt-button [gtType]="'success'" [gtSize]="'middle'" [gtGhost]="true">success</button>
<button gt-button [gtType]="'warning'" [gtSize]="'middle'" [gtGhost]="true">warning</button>
<button gt-button [gtType]="'danger'" [gtSize]="'middle'" [gtGhost]="true">danger</button>
</div>

<div style="margin-bottom: 10px">
<button gt-button [gtType]="'primary'" [gtSize]="'large'">primary</button>
<button gt-button [gtType]="'success'" [gtSize]="'large'">success</button>
<button gt-button [gtType]="'warning'" [gtSize]="'large'">warning</button>
<button gt-button [gtType]="'danger'" [gtSize]="'large'">danger</button>
</div>
